<div>Results: {{totalRowCount}}</div>
<table class="table table-hover" #userTable>
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let column of columns">{{ column }}</th>
    </tr>
  </thead>
  <tbody>
    <div *ngIf="(userListFiltered$ | async)?.length == 0">Loading... </div>
    
     <tr *ngFor="let user of (userListFiltered$ | async) as users; index as tableIndex; trackBy: identify">
        <td>{{ user.createdAt | date: "medium" }}</td>
        <td>{{ user.name }} index: {{tableIndex}}</td>
        <td><img [src]="user.avatar" [alt]="user.name+ ' image not available'" /></td>
        <td>{{ user.zip }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.job_area }} {{jobAreaCounter[user.job_area]}}</td>
      </tr>
    
      <tr *ngFor="let c of jobAreaCounter | keyvalue">
        <td [colSpan]="columns.length">Count of {{c.key}} {{c.value}}</td>
      </tr>
  </tbody>
  
</table>
